* {
font-family: 'Mulish', sans-serif;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  color: #00DD02;
}

nav{
  text-align: center;
  background-color: #00DD02;
  padding: 10px;
}

.box  {
  width: 940px;
  margin: 25px auto;
  padding: 80px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border-radius: 20px;
}

.barraarancio {
  padding: 15px;
  border-radius: 5px;
  background-color: #F5B353;
  width: 25%;
}

.barraverde {
  padding: 15px;
  border-radius: 5px;
  background-color: #1AC31F;
  width: 60%;
}

.barrarossa {
  padding: 15px;
  border-radius: 5px;
  background-color: #BE4141;
  width: 10%;
}

div.checkbox {
  display: inline-block;
}

section > h2 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  margin: 2px;
}

h1 {
  margin: 5px;
}
